
color{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: dimgray;
}
#navBar{
  float:right;
   
    background-color: transparent;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#main-container{
    display: flex;
    justify-content:center;
    

}
a{
    text-decoration: none;
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container-1{
    display: flex;
    justify-content:left;
    flex-direction: column;
    
}
#container-2{
/*     display: flex;
    justify-content: center;
    position: relative;
    left:50px; */
    
}
#container-2 > img{
    display:flex;
    justify-content:center;
    min-width:700px;
    min-height: 200px;
}



#container-3{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
       
     font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: azure;
}

#container-3 > img{
    width: 300;
    height: auto;
}
.img-viewer{
    border-radius: 4px;
    width: 300px;
    height: 250px;
    box-shadow: 2px 2px grey ;
     text-align: center; 
     padding: 10px;
    
    
}

#receipe-container{
    display: flex;
    position: relative;
    right:150px;
    
}

#receipe-video{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 550px;
    
}

#receipe-video{
    border-radius: 20px;
    position: absolute;
    left:650px;
    top: 500px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 500px;
    height: 300px; 
} 

#vadapavtext-receipe{
    border-radius: 20px;
    position: relative;
    left:200px;
    border: 2px solid grey;
    padding: 20px; 
    width: 550px;
    height: auto; 
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: aliceblue;
  
}

#pithaltext-receipe{
    border-radius: 20px;
    position: relative;
    left:200px;
    border: 2px solid grey;
    padding: 20px; 
    width: 550px;
    height: auto; 
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: aliceblue;
  
}
#misaltext-receipe{
    border-radius: 20px;
    position: relative;
    left:200px;
    border: 2px solid grey;
    padding: 20px; 
    width: 550px;
    height: auto; 
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: aliceblue;
  
}

#kandePohetext-receipe{
    border-radius: 20px;
    position: relative;
    left:200px;
    border: 2px solid grey;
    padding: 20px; 
    width: 550px;
    height: auto; 
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: aliceblue;
  
}


#kandaBhajitext-receipe{
    border-radius: 20px;
    position: relative;
    left:200px;
    border: 2px solid grey;
    padding: 20px; 
    width: 550px;
    height: auto; 
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: aliceblue;
  
}
#receipe-img{
    border-radius: 20px;
    position: relative;
    left:200px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 500px;
    height: 300px; 
  
}
#receipe-img>img{
    border-radius: 20px;
}

button{
    background-color:forestgreen;
    border: white;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 20px;
    width: 400px;
}
#receipe-tag{
    position:absolute;
    left: 400px;
}
#receipe-tag>button{
    position: relative;
    right:100px;
}

#about-us{
    color: antiquewhite;
    font-size: 20px;
    position: relative;
    left:350px;
    top:100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contributers{
    display: flex;
    justify-content: center;
    position: absolute;
    top:50px;
    left:250px;
}
.contributer-imgs{
    min-width: 300px;
    min-height: 400px;
    text-align: center; 
    padding: 10px;
    border: 2px solid grey;
    
}
.contributer-imgs{
    position:relative;
    top:100px;
    right: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    font-size: 20px;
}

 


